[package]
name = "obsidian-tidy-logging"
version = "0.0.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
tracing.workspace = true
tracing-subscriber.workspace = true
obsidian-tidy-core.workspace = true
tracing-appender = "0.2"
