name: "Build and testing"
on:
  pull_request:
  push:
    branches: [ main, master ]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31

    - uses: cachix/cachix-action@v15
      with:
        name: obsidian-tidy
        authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        extraPullNames: nix-community

    - name: Run nix flake check
      run: nix flake check
    - name: Build obsidian-tidy by Nix
      run: nix build
