name: "Build"
on:
  pull_request:
  push:
    branches: [ main, master ]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
    - name: Build obsidian-tidy by Nix
      run: nix build
